:ruby
  show_actions ||= 0
  table_dom_id ||= SecureRandom.hex

#table_actions.btn-toolbar
  - if can? :update, @capital_plan
    .btn-group
      = link_to complete_actions_capital_plans_path, :remote => true, :class => 'btn btn-primary capital-plan-action', :data => {:confirm => 'Are you sure?'} do
        Save

.table-responsive
  %table.table.table-condensed.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :card_view => "false",
    :pagination => 'false',
    :search => 'false',
    :show_export => 'true',
    :row_style => 'row_style',
    :click_to_select => 'true',
    :toolbar => "#table_actions",
    :export_types => "['csv', 'txt', 'excel']",
    :id_field => 'object_key',
    :state_save => 'true',
    :state_save_id_table => "capital_plans_id",
    :state_save_expire => "1y",
    :single_select => 'true'}}

    %thead
      %tr
        %th
        %th
        %th

    %tbody
      - prev_action = @capital_plan.capital_plan_actions.last
      - @capital_plan.capital_plan_actions.includes(:capital_plan_action_type).each_with_index do |a,idx|
        - if a.capital_plan_action_type.name != 'Archive'
          %tr
            - if a.capital_plan_action_type.capital_plan_module_type != prev_action.capital_plan_action_type.capital_plan_module_type
              %td.left= a.capital_plan_action_type.capital_plan_module_type
            - else
              %td
            - prev_action = a
            %td.left= a.capital_plan_action_type
            %td{data: {tableexport: {value: a.system_action? ? a.notes : (a.completed? ? 'X' : '')}}}
              - if a.system_action?
                = a.notes
              - else
                - checkbox_params = {type: 'checkbox', data: {index: idx}, value: a.object_key, class: 'capital-plan-action-checkbox'}
                - if a.completed?
                  - checkbox_params['checked'] = 'checked'
                  - if !(a.is_undo_allowed? && (can? :complete_action, a))
                    - checkbox_params['disabled'] = 'disabled'
                - else
                  - if !(a.is_allowed? && (can? :complete_action, a))
                    - checkbox_params['disabled'] = 'disabled'
                %input{checkbox_params}

