:javascript

  var selected_plan_actions = [];

  $(document).ready(function() {

    $(".capital-plan-action-checkbox").on('click', function(e) {
      selected_plan_actions = [];
      $( ".capital-plan-action-checkbox:checked" ).each(function() {
        selected_plan_actions.push($( this ).val());
      });

      //console.log(selected_plan_actions);
    });

    $(".capital-plan-action").on('click', function(e) {
      var href = $(this).attr('href');

      $.ajax({
          url: href,
          data: { targets: selected_plan_actions.join(',')}
      });

      return false;
    });

  });


