:javascript

  var selected_plan_actions = [];
  var unselected_plan_actions = [];

  $(document).ready(function() {

    $(".capital-plan-action-checkbox").on('click', function(e) {
      if ($(this).is(':checked')) {
        selected_plan_actions.push($( this ).val());
      } else {
        unselected_plan_actions.push($( this ).val());
      }
    });

    $(".capital-plan-action").on('click', function(e) {
      $('#spinner').show();

      var href = $(this).attr('href');
      selected_plan_actions = $.unique(selected_plan_actions);
      unselected_plan_actions = $.unique(unselected_plan_actions);

      $.ajax({
          url: href,
          data: { targets: selected_plan_actions.join(','), undo_targets: unselected_plan_actions.join(',')}
      });

      return false;
    });

  });