%h2= "Assets Status"

.row
  .col-md-1
  .col-md-10
    %table.table-striped.statusTable
      %thead
        %tr 
          %th
            Org
          %th
            Assets Updated
      %tbody.searchable
        -current_user.viewable_organizations.each do |o|
          %tr
            %td
              =o.short_name
            %td 
              ="#{OrgAuditAnalyzer.new(o).audit_complete_pcnt}%"



:css
  table.dataTable thead .sorting, 
  table.dataTable thead .sorting_asc, 
  table.dataTable thead .sorting_desc {
      background : none;
  }

:javascript
  $(document).ready(function () {

    $('.statusTable').DataTable();

  });