#spinner{style: 'display:none;'}= loader_panel_tag({:message => "Updating capital plan(s)...", :size => 3, :spinner => "cog"})

.row
  .col-md-12
    - CapitalPlanType.all.each do |plan_type|
      - table_dom_id = SecureRandom.hex
      = render partial: 'capital_plans_table', locals: {capital_plan_type: plan_type, table_dom_id: table_dom_id}

      - if can? :update, CapitalPlan
        = render partial: 'scripts', locals: {table_dom_id: table_dom_id}

        :javascript
          function checkboxes_to_update(action) {
            targets = [];
            $('input.capital-plan-action-checkbox[data-index="'+action.data('index')+'"]').each(function() {
              if ($(this).val() != action.val()) {
                targets.push($( this ).val());
              }
            });

            return targets.join(',');
          }

