#spinner= loader_panel_tag({:message => "Updating capital projects and ALIs...", :size => 3, :spinner => "cogs"})

#plan
  = render 'plan'

:javascript

  $(document).ready(function() {
    // Set up the event listeners
    configure_event_listeners();
    $("#spinner").hide();
  });

  // Initialize the draggable elements
  function configure_draggable() {
    $(".draggable").draggable({
      cursor: "crosshair",
      opacity: "0.75",
  		helper : 'clone',
  		revert : 'invalid',
      create: function(event, ui) {
        var project = $(this).data('project');
        //console.log("tr[data-project='" + project + "']")
        $(this).draggable('option', 'containment', "tr[data-project='" + project + "']");
      }
    });
  };


  // Configure all event listeners
  function configure_event_listeners() {
    // Config draggable elements
    configure_draggable();

    // Mark droppable targets
    configure_droppable();
  };

  // Creates drop targets for draggable items.
  var confirm_result = false;
  function configure_droppable() {
    $(".drop-target").droppable({
  		hoverClass : 'drop-zone-active',
  		drop : function(ev, ui) {
        var drop_year = $(this).data('year');
        var ali_year = ui.draggable.data('year');
        var project = ui.draggable.data('project');
        var url = ui.draggable.data('url');
        var ali = ui.draggable.data('ali');
        var action = ui.draggable.data('action');
        // Make sure it is not a redundant drop
        if (ali_year === drop_year) {
          return;
        }
        var msg = "Move ALI from " + ali_year + " to " + drop_year + "?";
        bootbox.confirm(msg, function(result) {
          if (result) {
            move_ali(url, ali, action, drop_year, project);
          }
        });
  		}
  	});
  };

  function move_ali(url, ali, action, drop_year, project) {
    //$("#plan-table").hide();
    $('<div class="modal-backdrop"></div>').appendTo(document.body).hide().fadeIn();
    $("#spinner").show();
    $.ajax({
        url: url,
        type: 'POST',
        data: {
          ali: ali,
          invoke: action,
          year: drop_year,
          project: project
        },
        success: function (response) {
          //$("#plan-table").show();
          $('#spinner').hide();
          $(".modal-backdrop").remove();
        },
        error: function () {
          //$("#plan-table").show();
          $('#spinner').hide();
          $(".modal-backdrop").remove();
        }
    });
  }
