%tr{:data => {:project => project.object_key}}
  - project_has_early_replacement_assets = false
  %td.left.planner-project-column
    = render :partial => 'plan_project_detail', :locals => {:project => project}

  - (current_planning_year_year..last_fiscal_year_year).to_a.each do |year|
    %td.striped.drop-target{:data => {:year => year}, :id => project.object_key + '-' + year.to_s}
      - #next if @display_fy_year != year if !project.multi_year && @display_fy_year
      - alis = project.activity_line_items.where(:fy_year => year).each do |ali|
        - project_has_early_replacement_assets = true if !ali.notional? && ali.sogr? && ali.has_early_replacement_assets?
        = render 'ali_render_adaptor', project: project, ali: ali
  - if project_has_early_replacement_assets
    :javascript
       $('tr[data-project="#{project.object_key}"] .project-early-replacement-warning').html('<a class="transam-tooltip" data-placement="top" data-title="Contains early replacement assets" data-toggle="tooltip" tabindex="0" data-original-title="" title="">' + '<i class="fa fa-exclamation-triangle" style="color: red !important;"></i></a>');