.row
  .col-md-12
    #plan_view
      = render 'plan_view'
      
#add-funds-modal.modal.fade{:tabindex => "-1", :role => 'dialog', :aria_hidden => "true"}
#update-cost-modal.modal.fade{:tabindex => "-1", :role => 'dialog', :aria_hidden => "true"}
#edit-asset-modal.modal.fade{:tabindex => "-1", :role => 'dialog', :aria_hidden => "true"}
