%ol
  %li
    Select the Federal fund that the appropriation is from.
  %li
    Select the fiscal year that the appropriation was granted. If this appropriation has been applied for but 
    not yet granted, select the fiscal year the the grant is expected to be made.
  %li
    Enter the Federal Project Number if you have one. Leave this blank if the appropriation has not been granted yet.
  %li
    Check 'Yes' is the FRN is active, otherwise check 'No'
  %li
    Select the FPN type.
  %li
    Enter the amount of the grant. If the funds have not been granted, enter the amount that has been requested.
  %li
    Enter the percentage of the grant that is earmarked for operating assistance. Percentages are between 0 and 100. If the funds has not been
    granted, enter the percentage requested.
    