- if can? :update, ali or can? :update_cost, ali
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-xs.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      %i.fa.fa-cog
      = " Actions"
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      = render :partial => 'planning/activity_line_item_action_links', :locals => {:project => project, :ali => ali}
