%p
  Adjusting the anticipated total cost will allow you to better understand the impact of this capital project in a particular fiscal year.
%br
%p
  Together with the available federal, state and local funds, an accurate funding summary and cost projection can be reached.
%br
%p
  [ Use information from IT3 docs ]
