%p
  Use this form to set the expected cost of the ALI in USD. This cost is the total amount of funds, including state and local matches that will be needed in
  the fiscal year to implement this part of the project.
