%p
  Use this form to set the expected cost of the ALI in USD. This cost is the total amount of funds that will be needed in
  the fiscal year to implement this part of the project.
%p
  Once you have entered the cost, you will be able to associate funding sources with the ALI.
