:css
  .popover {
    width: 350px;
  }
.row
  .col-sm-12
    - if @activity_line_item.assets.empty?
      %p There are no assets for this activity line item.
    - else
      - if @activity_line_item.notional?
        = render :partial => 'assets_notional_datatable', :locals => {:ali => @activity_line_item, :popup => '1'}
      - else
        = render :partial => 'assets_datatable', :locals => {:ali => @activity_line_item, :popup => '1'}

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
