.row
  .col-sm-12
    - if @activity_line_item.comments.empty?
      %p There are no comments for this activity line item.
    - else
      = render :partial => 'shared/comments', :locals => {:comments => @activity_line_item.comments}

- if can? :add_comment, @activity_line_item
  %button.btn.btn-primary{:data => {:toggle => "modal", :target => "#comment_modal"}}
    %i.fa.fa-plus
    = " Add Comment"

.modal.fade#comment_modal{:tabindex => -1, :role => 'dialog', :aria => {:hidden => true}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:data => {:dismiss => "modal"}}
          x
        %h4.modal-title
          Add Comment
      .modal-body
        = render 'activity_line_items/comment_form'
