.modal-dialog
  .modal-content
    .modal-header
      %button.close{:data => {:dismiss => "modal"}}
        x
      %h3.modal-title
        = "Update #{@activity_line_item} cost"
    .modal-body
      = render 'edit_cost_form'
