.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{:data => {:dismiss => "modal"}}
        x
      %h3.modal-title
        = "Milestones for #{@activity_line_item}"
    .modal-body
      = render 'milestones_form'
