.row
  .col-md-12
    - if @activity_line_item.milestones.empty?
      %p There are no milestones for this activity line item.
    - else
      %table.table.table-hover
        %thead
          %tr
            %th Milestone
            %th Est. Completion Date
            %th Comments
        %tbody
          - @activity_line_item.milestones.each do |m|
            %tr
              %td= m.milestone_type
              %td= format_as_date(m.milestone_date)
              %td= m.comments
