:javascript

  // Form Validations
  // override jquery validate plugin defaults
  $.validator.setDefaults({
      highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
      },
      errorElement: 'span',
      errorClass: 'help-block',
      errorPlacement: function(error, element) {
          if(element.parents('.input-group').length) {
              error.insertAfter(element.parent());
          } else {
              error.insertAfter(element);
          }
      }
  });

  // Use validation plugin to validate the forms before submittal
  $('#new_comment').validate({
    submitHandler: function(form) {
      $(form).submit();
    }
  });
  $('#new_funding_request').validate({
    submitHandler: function(form) {
      $(form).submit();
    }
  });

  $(document).ready(function() {
    transam.make_same_height('.form-part');
    transam.make_same_height('.header-part');

    // Manage the tabs
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      // save the latest tab
      var this_tab = $(this).attr('href');
      //alert(this_tab);
      transam.set_ui_key_value('ali_tab', this_tab);
      // If this tab is the history then we need to re-render the timeline
      if (this_tab == '#hist') {
        timeline.redraw();
      }
    });
  });
  $(function() {
    var last_tab = transam.get_ui_key_value('ali_tab');
    if (last_tab) {
      //alert('Tab = ' + last_tab);
      $('a[href="'+last_tab+'"]').tab('show');
    } else {
      // Default to the firsdt tab if no tab is stored
      $('a[data-toggle="tab"]:first').tab('show');
    }
  });
