= render(:partial => 'shared/form_errors', :locals => {:obj => @activity_line_item}) unless @activity_line_item.errors.empty?

.row
  .col-md-4
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-6
            %h3.panel-title
              %i.fa.fa-list
              Activity Line Item
          .col-md-6
            = render 'actions'
      .panel-body    
        = render :partial => 'summary', :locals => {:ali => @activity_line_item} 
        
  .col-md-8
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-12
            %h3.panel-title
              %i.fa.fa-folder-open
              Milestones
                
      .panel-body
        = render 'milestones_form'

:javascript

  // Document Ready
  $(document).ready(function(){
    $('[data-behavior~=datepicker]').datepicker({
      format: "mm/dd/yyyy"
    });
    transam.make_same_height('.header-part');
  });

