= dialog_tag('Capital Project Builder Notes', {:icon => 'fa fa-book', :class => "header_part"}) do
  %p
    The <strong>Capital Projects Builder</strong> automatically analyzes the capital inventory for your organization and generates 
    a set of capital projects and adds them into the capital needs list. Each capital 
    project will contain one or more <strong>Activity Line Items</strong>.
  %p
    The builder will search the list of assets and identify those which are scheduled to be replaced in each fiscal year and are
    not currently associated with a project. The builder can create projects for both <strong>replancement</strong> and
    <strong>rehabilitation</strong> of existing assets.
  %p
    Once the builder has completed, you will need to review each capital project and provide the following information:
    %ul
      %li Description of the project
      %li Justification for the project
    To make it easy for you, the builder will create a new task for each capital project that is created and send you reminders
    that they need to be updated.