%p
  The <strong>SOGR Capital Projects Analyzer</strong> analyzes the capital inventory for your organization and generates
  a set of replacement and rehabilitation capital projects which are added to the capital needs list.
%p
  This analyzer uses your current <strong>Policy</strong> to determine when assets will be replace and/or
  rehabiltated.
%p
  Once the builder has completed, you will need to review each capital project and update:
  %ul
    %li Description of the project
    %li Justification for the project

%p
  %strong
    Primary & Component / Sub-Component Information
  %ul
    %li For Facilities, Purchase (Cost) is saved at both the Primary and Component / Sub-Component level, selecting both could lead to duplicate values, depending on how your Purchase (Cost) values were saved.
    %li For Infrastructure, Purchase (Cost) is ONLY saved at the Component / Sub-Component level, selecting both will NOT lead to duplicate values.
