%p
  The <strong>SOGR Capital Projects Analyzer</strong> analyzes the capital inventory for your organization and generates
  a set of replacement and rehabilitation capital projects which are added to the capital needs list.
%p
  This analyzer uses your current <strong>Policy</strong> to determine when assets will be replace and/or
  rehabiltated.
%p
  Once the builder has completed, you will need to review each capital project and update:
  %ul
    %li Description of the project
    %li Justification for the project
