%ol
  %li
    Select a type of asset to analyze from the dropdown. If you want to analyze the complete inventory select 'All...'
  %li
    Select how your organization aquires new assets. If assets are typically leased select 'Lease' otherwise select 'Purchased'
    