:ruby
  rep = CapitalPlanSummaryReport.new
  results = rep.get_data(@organization_list, {})
  if highlight_years.nil?
    highlight_years = []
  end

#plan-summary 
  .row
    - results[:data].each do |row|
      - highlight = highlight_years.include? row[0]
      = render :partial => 'capital_projects/capital_plan_summary_detail', :locals => {:year => row[0], :num_replace => row[1], :num_rehab => row[2], :num_remove => row[3], :cost => row[4], :highlight => highlight}
    