.well.well-sm{:data => {:action_path => capital_project_path(project)}}
  .row
    .col-md-4
      %h4.bg-default.text-left{:style => 'margin-top: -2.5px;'}
        = format_as_currency(project.total_cost)
    .col-md-8
      %p.text-primary.text-left
        = project.name
  .row
    .col-md-4

    .col-md-8
      %p.text-primary.text-left
        = project.team_ali_code    
