= form_tag capital_projects_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
  .form-group
    = select_tag(:fiscal_year, options_for_select(@fiscal_years, :selected => @fiscal_year), :class => "form-control", :style => "width: 100px;", :prompt => "Any FY...")
  .form-group
    = select_tag(:team_ali_code_id, options_for_select(TeamAliCode.bus_categories.collect{|a| [a.full_name, a.id]}, :selected => @team_ali_code_id), :class => "form-control", :style => "width: 200px;", :prompt => "Any Scope...")
  .form-group
    = select_tag(:status_type_id, options_for_select(CapitalProjectStatusType.all.collect{|a| [a.name, a.id]}, :selected => @status_type_id), :class => "form-control", :style => "width: 100px;", :prompt => "Any Status...")


:javascript
  $(document).ready(function() {

    $('#fiscal_year, #team_ali_code_id, #status_type_id').change(function() {
      $('#filter_form').submit();
    });
    
  });  