:javascript

	$(document).ready(function() {

		transam.make_same_height('.header_part');
	
    // Manage the tabs
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      // save the latest tab
      var this_tab = $(this).attr('href');
      //alert(this_tab);
      transam.set_ui_key_value('capital_project_tab', this_tab);
      // If this tab is the history then we need to re-render the timeline
      if (this_tab == '#hist') {
        timeline.redraw();
      }
    });
  });
  $(function() {
    var last_tab = transam.get_ui_key_value('capital_project_tab');
    if (last_tab) {
      //alert('Tab = ' + last_tab);
      $('a[href='+last_tab+']').tab('show');
    } else {
      // Default to the firsdt tab if no tab is stored
      $('a[data-toggle="tab"]:first').tab('show');
    }   
  }); 
