= render(:partial => 'shared/form_errors', :locals => {:obj => @project}) unless @project.errors.empty?

.col-sm-12.col-md-10.col-md-offset-1.col-lg-6.col-lg-offset-3
  .page-header
    %h2= "Capital Project: #{@project}"

  = render 'form'
