.row
  .col-md-8.col-md-offset-2
    .page-header
      %h2 New Project

    = render(:partial => 'shared/form_errors', :locals => {:obj => @project}) unless @project.errors.empty?

    = render :partial => 'form', :locals => {:is_in_modal => 0}
