

.col-md-1
.col-md-10
  %h3
    ="Assets"
  //%input#filter.form-control{placeholder: "Type here...", type: "text"}
  %table.table-striped.assetTable
    %thead
      %tr
        %th.text-center
          YEAR
        %th ID
        %th Serial/VIN
        %th Subtype
    %tbody.searchable
      -draft_project_phase.draft_project_phase_assets.each do |dppa|
        %tr
          %td.text-center{id: "#{dppa.object_key}Cell"}
            %form
              %select.assetReplacementYear{id: dppa.object_key}
                -(2020..2032).each do |year|
                  %option{value: "#{year}", selected: (year==draft_project_phase.fy_year)} 
                    =format_as_fiscal_year year
          %td
            =link_to dppa.transit_asset.asset_tag, inventory_path(dppa.transit_asset)
          %td
            =dppa.transit_asset.very_specific.try(:serial_number)
          %td
            =dppa.transit_asset.asset_subtype.try(:name)
