.col-md-3
.col-md-6
  =simple_form_for(@draft_project_phase) do |f|
    =f.input :name
    =f.input :cost
    =f.input :fy_year, collection: get_fiscal_years(Date.today-1.years,51), label: 'Fy Year'
    //=f.input :justification
    =f.submit