- if CapitalPlan.count > 0 && !(SystemConfig.transam_module_names.include? 'funding')
  - if count > 0
    %li.divider
  %li.text-left
    - if can? :read_all, CapitalPlan
      = link_to capital_plans_path do
        %i.fa.fa-fw.fa-list
        Status
    - else
      - org_list = @organization_list.select{|x| Asset.operational.where(organization_id: x).count > 0}
      - if org_list.count > 0
        = link_to capital_plan_path(CapitalPlan.current_plan(org_list.first, true)) do
          %i.fa.fa-fw.fa-list
          Status
