- if funding_source.funding_line_items.empty?
  %p There are no appropriations for this fund.
-else
  - if funding_source.federal?
    = render :partial => 'federal_appropriations_table', :locals => {:funding_line_items => funding_source.funding_line_items.where('organization_id = ?', @organization.id).order('fy_year')}
  - else
    = render :partial => 'state_appropriations_table', :locals => {:funding_line_items => funding_source.funding_line_items.where('organization_id = ?', @organization.id).order('fy_year')}

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
    