%ul.nav.nav-tabs
  %li
    %a{:href => "#asst", :data =>{:toggle => 'tab'}}
      = "Funding Amounts"
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      = "Description"

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#desc
    .tab-content
      = @funding_source.description.html_safe
  .tab-pane.fade#asst
    .tab-content
      = render 'funding_amounts'
