= simple_form_for(@funding_source,
  :url => update_amounts_funding_source_path(@funding_source),
  :html => {:class => 'form-horizontal' },
  :method => 'POST',
  :wrapper => :horizontal_form,
  :wrapper_mappings => {:check_boxes => :horizontal_radio_and_checkboxes, :radio_buttons => :horizontal_radio_and_checkboxes, :file => :horizontal_file_input, :boolean => :horizontal_boolean}) do |f|
  .col-md-6
    .table-responsive
      %table.table.table-condensed
        %thead
          %tr
            %th.left.nowrap Fiscal Year
            %th.left Amount
            %th.left Estimated?
        %tbody          
          = f.simple_fields_for :funding_amounts do |i_f|  
            = render 'funding_amount_form', :i_f => i_f  
            
  .col-md-12
    = f.button :submit, :class => "btn btn-primary"
