.panel.panel-default.swimlane
  .panel-heading
    .row
      .col-md-12
        %span.badge.pull-right= assets.size
        %h3.panel-title
          %i.fa.fa-calendar
          = format_as_fiscal_year(year)
  .panel-body    
    - assets.each do |a|
      = render :partial => 'repeater', :locals => {:asset => a, :year => year}
  
