.panel.panel-default.header-part
  .panel-heading
    .row
      .col-md-3
        %h3.panel-title
          %i.fa.fa-list
          Planning
      .col-md-9
        = render 'index_actions'
  .panel-body    
    #plan_summary
      = render 'capital_projects/capital_plan_summary'
    #schedules
      = render 'schedules'
