.panel.panel-default
  .panel-body
    .budget{:id => "budget_#{year}"}
      = "Found #{assets.size} assets for this year."

- assets.each do |a|
  = render :partial => 'repeater', :locals => {:asset => a, :year => year}
  
