.panel.panel-default.header-part
  .panel-heading
    .row
      .col-md-3
        %h3.panel-title
          %i.fa.fa-list
          Planning
      .col-md-9
        = render 'index_actions'
  .panel-body    
    #plan_summary
      .row
        = render 'capital_projects/capital_plan_summary'
    #swimlanes
      = render 'swimlanes'

#confirmation-modal
#ali-update-cost-modal.modal.fade
#asset-edit-modal.modal.fade

#processing-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Processing...
      .modal-body
        = render partial: 'shared/running_process', locals: {message: "Updating SOGR projects. This process might take a while.", style: ''}
