%p
  Use this form to plan when your assets will be replaced, rehabilitated or disposed.
%p
  Icon key:
  %ul.list-unstyled
    %li
      %i.fa.fa-refresh
      Asset will be replaced. 
    %li
      %i.fa.fa-wrench
      Asset will be rehabilitated/overhauled.  
    %li
      %i.fa.fa-times-circle
      Asset will be disposed.
    %li
      %i.fa.fa-warning
      Asset status is undetermined.

%p
  Color key:
  %ul.list-unstyled
    %li
      .alert.alert-info
        Asset is scheduled to be replaced on or after the policy EUL.
    %li
      .alert.alert-danger 
        Asset is currently in backlog and should be prioritized for replacement or rehabilitation.
    %li
      .alert.alert-warning
        Asset is scheduled to be replaced before it's policy EUL.
      