.modal-dialog
  .modal-content
    = simple_form_for :activity_line_item, url: set_cost_capital_project_activity_line_item_path(@capital_project, @ali, format: :json), remote: true do |f|
      .modal-header
        %a.close{href: "#", 'data-dismiss' => 'modal'} &times;
        %h4.modal-title Update anticipated cost
      #modal-body.modal-body
        = f.input :anticipated_cost, placeholder: 'New cost...', label: false
      .modal-footer
        %button.btn.btn-warning.btn-xs{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        %button.btn.btn-success.btn-xs Update
