.col-md-3
.col-md-6
  =simple_form_for(@draft_project) do |f|
    =f.input :title
    =f.input :description
    =f.input :project_number
    =f.input :justification
    =f.input :emergency, collection: [true,false], include_blank: false
    =f.association :team_ali_code, :collection => TeamAliCode.all_categories, :label_method => 'full_name_with_parent', :label => 'Scope'
    =f.association :capital_project_type, :collection => CapitalProjectType.active, :include_blank => false, :label => 'Project Type'
    =f.association :districts, collection: @districts, label_method: :to_s, include_blank: false, input_html: { multiple: true }
    =f.submit 'Save', class: 'btn btn-primary'