.col-md-3
.col-md-6
  =simple_form_for(@draft_project) do |f|
    =f.input :title
    =f.input :description
    =f.input :project_number
    =f.input :justification
    =f.association :team_ali_code, :collection => TeamAliCode.categories, :label_method => 'full_name', :label => 'Scope'
    =f.association :capital_project_type, :collection => CapitalProjectType.active, :include_blank => false, :label => 'Project Type'
    =f.input :scenario_id, as: :hidden
    =f.submit 'Save', class: 'btn btn-primary'