%div.row
  .col-md-4
    .well
      .row
        =@draft_project.project_number
      .row
        =@draft_project.title
      .row
        =@draft_project.description
      .row
        =@draft_project.justification
      .row
        =@draft_project.cost
      .row 
        =button_to 'Edit', edit_draft_project_path(@draft_project), method: :get, class: "btn btn-info btn-sm"
  .col-md-8

%div.row 
  %div.text-left
    =link_to 'Add Project Phase', new_draft_project_phase_url(draft_project_id: @draft_project.object_key), class: "btn btn-info btn-sm"

%div.row
  %div.text-center
    .col-sm-12
      =render partial: "draft_project_phases_table", locals: {draft_project: @draft_project}