.col-md-3
.col-md-6
  =simple_form_for(@draft_project_phase_asset) do |f|
    =f.input :draft_project_phase, collection: @phases
    
    //[["Bus: Revenue Rolling Stock: Purchase - Replacement project", 816], ["Bus: Revenue Rolling Stock: Purchase - Replacement project", 817], ["Bus: Revenue Rolling Stock: Purchase - Replacement project", 818], ["Bus: Revenue Rolling Stock: Purchase - Replacement project", 819], ["Bus: Revenue Rolling Stock: Purchase - Replacement project", 820]]