:css
  .panel_asset_table .library-table {
    background:var(--gray-light);
  }

  .phase_info {
    padding: 10px 15px;
  }

  .panel-body {
    padding: 0px 0px 0px 10px;
  }

.panel.panel-default
  .panel-heading
    =link_to draft_project_path(phase.draft_project) do
      =phase.draft_project.try(:title).try(:titleize)
    = ">"
    =link_to draft_project_phase_path(phase) do
      =phase.name
      =" (#{phase.get_fiscal_year})"
  .panel-body 
    .row 
      .col-md-4.phase_info
        .row
          %strong 
            ALI:
          =phase.team_ali_code.try(:code)
        .row
          %strong
            Cost:
          =format_as_currency(phase.cost)
        .row
          %strong
            Allocated:
          =format_as_currency(phase.allocated)
        .row
          %strong
            Remaining:
          =format_as_currency(phase.remaining)
      .col-md-8.panel_asset_table
        =render partial: "phase_with_assets_panel_table", locals: {draft_project_phase: phase}
      
  .panel-footer.text-right
    ="Created: #{phase.created_at.strftime('%m/%d/%Y at %I:%M%p')}"