.row
  .col-md-6
    =button_to 'Submit', transition_scenario_path(@scenario, transition: "submit"), method: :put, class: "btn btn-success"
  .col-md-6
    =button_to 'Close', transition_scenario_path(@scenario, transition: "cancel"), method: :put, class: "btn btn-danger", data: {confirm: "Are you sure you want to close this scenario? This action cannot be undone."}

