.row.with-margin
  =button_to 'Submit', transition_scenario_path(@scenario, transition: "submit"), method: :put, class: "btn btn-success"
.row.with-margin
  =button_to 'Cancel', transition_scenario_path(@scenario, transition: "cancel"), method: :put, class: "btn btn-danger btn-xs"
