:css
  .with-margin {
    margin-bottom: 5px;
  }

.row.text-center
  %h1
    =@scenario.name 
  =@scenario.description
  
.row
  .col-md-1
  .col-md-9
    %h3
      =@scenario.organization
    %div
      =format_as_currency(@scenario.cost)

  .col-md-2
    .well
      .row
        %h4
          =@scenario.state.titleize
        =@scenario.state_description
      .row.text-center
        %br
        =render "#{@scenario.state}_actions"


.row
  .col-md-12
    %h4
      ="Projects"
      =link_to new_draft_project_url(scenario_id: @scenario.object_key), class: "btn btn-info btn-xs" do 
        %i.fa.fa-plus


%div.row
  =render partial: "draft_projects_table", locals: {scenario: @scenario}



