:css
  .with-margin {
    margin-bottom: 5px;
  }


.row
  %h2
    =@scenario.name 
.row
  .col-md-1
  .col-md-10
    %h3
      =@scenario.organization
    %h4
      =@scenario.description
    %div
      =@scenario.cost
  .col-md-1
    %div.text-center
      =render "#{@scenario.state}_actions"

%div.row 
  %div.text-left
    =link_to 'Add Project', new_draft_project_url(scenario_id: @scenario.object_key), class: "btn btn-info btn-sm"

%div.text-center
  =render partial: "draft_projects_table", locals: {scenario: @scenario}


