%h2.text-center
  =@scenario.organization
%h4.text-center
  =@scenario.description

%div.text-center
  =render "#{@scenario.state}_actions"

%div.text-center
  =render partial: "draft_projects_table", locals: {scenario: @scenario}

-if @scenario.cancellable?
  %div.text-center
    %hr
    =button_to 'Cancel', transition_scenario_path(@scenario, transition: "cancel"), method: :put, class: "btn btn-danger btn-xs"
