%p
  Use this form to create new or update existing Federal appropriations. 
  
%p
  You can create the following types of grants:
  %ul
    %li
      Formula allocations
    %li
      Discretionary funds
    %li
      Earmaked funds
    %li
      Flex funds
      
%p
  If you have... 
  %ul
    %li
      an existing grant, enter the grant details including the FPN,
    %li
      applied for funds but not yet recieved the grant, use this form to
      identify the grant details but leave the FPN number blank and make sure to check
      that the fund is not active.