%ol
  %li
    Select the State fund that the appropriation is from.
  %li
    Select the fiscal year that the appropriation was granted. If this appropriation has been applied for but 
    not yet granted, select the fiscal year that the grant is expected to be made.
  %li
    Enter the amount of the grant. If the funds have not been granted, enter the amount that has been requested.
    