= render(:partial => 'shared/form_errors', :locals => {:obj => @org}) unless @org.errors.empty?

.row
  .col-md-4
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-12
            %h3.panel-title
              %i.fa.fa-list
              Organization
      .panel-body
        = render :partial => 'summary', :locals => {:org => @org}

  .col-md-8
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-12
            %h3.panel-title
              %i.fa.usd
                - if request.original_url.include?('federal')
                  Federal Budget
                - else
                  State Budget

      .panel-body
        = render 'budget_form'

= render 'scripts'
