.tab-pane.fade#capital
  .tab-content
    = render 'capital_projects/rollup_table'
.tab-pane.fade#projects
  .tab-content
    = render :partial => 'capital_projects/summary_index_table', :locals => {:projects => @org.capital_projects}
