.col-md-3
.col-md-6
  =simple_form_for(@draft_budget) do |f|
    =f.input :name
    =f.input :amount
    =f.input :shared_across_scenarios, as: :select, include_blank: false
    =f.input :funding_template_id, collection: @funding_templates.collect { |o| ["#{o.funding_source_type.try(:name)}: #{o.name}", o.id] }
    =f.submit