:css
  .with-margin {
    margin-bottom: 5px;
  }

//TITLE
.row.text-center
  %h1
    =@draft_budget.name 
  .row
    =link_to edit_draft_budget_path(@draft_budget) do 
      %i.fa.fa-edit

//Main Content  
.row
  .col-md-1
  
  //Details
  .col-md-5
    .row
      %strong
        Amount:
      =format_as_currency(@draft_budget.amount)
    .row
      %strong
        Funding Template:
      =@draft_budget.funding_template.try(:name)
    .row
      %strong
        Match:
      -if @draft_budget.funding_template.try(:match_required)
        ="#{@draft_budget.funding_template.try(:match_required)}%"
    .row
      %strong
        Type:
      =@draft_budget.funding_source_type.try(:name)
    .row
      %strong
        Active:
      =@draft_budget.active
    .row
      %strong
        Shared Across Scenarios:
      =@draft_budget.shared_across_scenarios
    .row
      %strong
        Contributor
      =@draft_budget.contributor.try(:short_name) || "None"
    .row
      %strong
        Owner:
      =@draft_budget.owner.try(:short_name) || "None"


  -if @draft_budget.shared_across_scenarios
    .col-md-1
    .col-md-2
      .row
        %strong
          Allocated:
        =format_as_currency(@draft_budget.allocated)
      .row
        %strong
          Remaining:
        =format_as_currency(@draft_budget.remaining)
    .col-md-2
      =pie_chart [["Allocated",@draft_budget.allocated],["Remaining",@draft_budget.remaining]], colors: ["#b00", "#85bb65"]

%div.row
  .col-md-12
    %h3
      ="Scenarios"
%div.row
  -@draft_budget.scenarios.uniq.each_slice(3) do |scenarios|
    .row
      -scenarios.each do |scenario|
        .col-md-4
          =render partial: "scenario_panel", locals: {scenario: scenario}

        

// Funding
%div.row
  .col-md-12
    %h3
      ="Allocations"      

%div.row
  %div.text-center
    .col-sm-12
      =render partial: "draft_allocations_table", locals: {allocations: @draft_budget.draft_budget_allocations}



